/* line 1, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 5, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
html {
  font-size: 62.5%;
}

/* line 8, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
body {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  color: #777;
  font-size: 1.6rem;
  letter-spacing: .2rem;
  padding: 5rem;
  background-color: white;
}

/* line 17, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
.container {
  background-color: #F7F7F7;
}

/* line 21, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url("../img/header_background.jpg") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
}

/* line 26, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  width: 5.6rem;
}

/* line 32, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

/* line 39, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
.title-first {
  color: #FFFFFF;
}

/* line 41, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
.title-first__main {
  text-transform: uppercase;
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.45, -0.04, 1, 0.15);
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}

/* line 55, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
.title-first__secondary {
  display: block;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: .5rem;
  animation-name: rightToLeft;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.45, -0.04, 0.19, 0.91);
  backface-visibility: hidden;
  margin-bottom: 6.5rem;
  animation-fill-mode: backwards;
}

/* line 69, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
  padding: 1.5rem 4rem;
  background: white;
  border-radius: 5rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 2rem;
}

/* line 80, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}

/* line 83, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}

/* line 86, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}

/* line 89, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
.btn::after {
  content: "";
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s;
}

/* line 101, ../../../MyProjects/WebDev/Fokeev/BaloonsLanding/sass/style.sass */
.btn_animated {
  animation: BtnToUp .5s ease-out .7s;
  animation-fill-mode: backwards;
}

@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

/*# sourceMappingURL=style.css.map */